@import "bourbon/bourbon";

html, body{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

body{
	background: #3C3C48;
	color: #FFF;
	font-family: $helvetica;
}

a{
	color: #98B15F;
}

.align--center{
	text-align: center;
}

// Centerer by Chris Coyier http://codepen.io/chriscoyier/blog/some-mini-sass-mixins-i-like
.centerer{
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}